<%= form_with(model: [@project, @task]) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_field :name %>
  <%= form.check_box :complete, id: "task_complete" %>
  <%= form.label :complete, for: "task_complete" %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
